.about-container {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background: rgb(58, 37, 92);
  background: linear-gradient(
    175deg,
    rgba(58, 37, 92, 1) 25%,
    rgba(236, 236, 236, 0.5637605383950455) 81%
  );
  color: #ffffff !important;
}

.p-about {
  margin-top: 20px;
  text-align: start;
  font-weight: 600;
}
